<div class="container wrapper">
  <h3>Booking History</h3>
  <p>List of your confirmed bookings.</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Confirmation #</th>
        <th scope="col">Departure</th>
        <th scope="col">At</th>
        <th scope="col">Arrival</th>
        <th scope="col">At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings; let i = index">
        <td scope="row">{{i + 1}}</td>
        <td>
          <a class="booking-link" (click)="viewBookingDetail(booking)">{{booking.confirmationCode}}</a>
        </td>
        <td>{{booking.departure}}</td>
        <td>{{booking.departureDate}} {{booking.departureTime}}</td>
        <td>{{booking.arrival}}</td>
        <td>{{booking.arrivalDate}} {{booking.arrivalTime}}</td>
      </tr>
    </tbody>
  </table>
</div>
