h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.booking-link {
  color: #007bff !important;
  cursor: pointer;
  font-weight: bold;
}

.booking-link:visited, .booking-link:hover {
  text-decoration: underline !important;
}
