<section class="home-page container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="blur-background">
        <div class="advertisement">
          <h1 [appHoverColor]="'red'" defaultColor="">FIND CHEAP FLIGHTS AND SAVE</h1>
          <h2>Search and Compare our best deals with over 440+ airlines - Book now!</h2>
        </div>
        <div class="flight-search">
          <!--<ul class="flight-options">-->
            <!--<li class="active">Round trip</li>-->
            <!--<li>One way</li>-->
          <!--</ul>-->
          <form [formGroup]="searchFlightForm" (ngSubmit)="searchFlights()">
            <div class="form-row">
              <div class="col-sm-3">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                  <input type="text" class="form-control" placeholder="Leaving from" #leavingFrom
                         (keyup)="searchLeaving(leavingFrom.value)" [(ngModel)]="leavingAirportVal" formControlName="leavingAirport">
                  <div class="airport-list" *ngIf="showLeavingAirportList">
                    <div class="airport-item" *ngFor="let leavingAirport of leavingAirports | async" (click)="onSelectLeavingAirport(leavingAirport)">
                      {{leavingAirport.name}} [{{leavingAirport.iata}}]
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                  <input type="text" class="form-control" placeholder="Going to" #goingTo
                         (keyup)="searchGoing(goingTo.value)" [(ngModel)]="goingAirportVal" formControlName="goingAirport">
                  <div class="airport-list" *ngIf="showGoingAirportList">
                    <div class="airport-item" *ngFor="let goingAirport of goingAirports | async" (click)="onSelectGoingAirport(goingAirport)">
                      {{goingAirport.name}} [{{goingAirport.iata}}]
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                  <input type="text" class="form-control leaving-date" placeholder="Leaving date" ngModel formControlName="leavingDate">
                </div>
              </div>
              <!--<div class="col-sm-2">-->
                <!--<div class="input-group">-->
                  <!--<div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>-->
                  <!--<input type="text" class="form-control" placeholder="Come back date" ngModel formControlName="comeBackDate">-->
                <!--</div>-->
              <!--</div>-->
              <div class="col-sm-2">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                  <input type="text" class="form-control" placeholder="1 Passenger" ngModel formControlName="passenger">
                </div>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-success btn-search-flight" type="submit" [disabled]="!searchFlightForm.valid">SEARCH</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<section class="suggest-flights">-->
  <!---->
<!--</section>-->


