<section class="home-page container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="blur-background">
        <div class="advertisement">
          <h1 [appHoverColor]="'red'" defaultColor="">FIND CHEAP FLIGHTS AND SAVE</h1>
          <h2>Search and Compare our best deals with over 440+ airlines - Book now!</h2>
        </div>
        <div class="flight-search">
          <!--<ul class="flight-options">-->
            <!--<li class="active">Round trip</li>-->
            <!--<li>One way</li>-->
          <!--</ul>-->
          <form [formGroup]="searchFlightForm" (ngSubmit)="searchFlights()">
            <div class="form-row">
              <div class="col-sm-3">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                  <input type="text" class="form-control" placeholder="Leaving from" #leavingFrom
                         (keyup)="searchLeaving(leavingFrom.value)" [(ngModel)]="leavingAirportVal" formControlName="leavingAirport">
                  <div class="airport-list" *ngIf="showLeavingAirportList">
                    <div class="airport-item" *ngFor="let leavingAirport of leavingAirports | async" (click)="onSelectLeavingAirport(leavingAirport)">
                      {{leavingAirport.name}} [{{leavingAirport.iata}}]
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                  <input type="text" class="form-control" placeholder="Going to" #goingTo
                         (keyup)="searchGoing(goingTo.value)" [(ngModel)]="goingAirportVal" formControlName="goingAirport">
                  <div class="airport-list" *ngIf="showGoingAirportList">
                    <div class="airport-item" *ngFor="let goingAirport of goingAirports | async" (click)="onSelectGoingAirport(goingAirport)">
                      {{goingAirport.name}} [{{goingAirport.iata}}]
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                  <input type="text" class="form-control leaving-date" placeholder="Leaving date" ngModel formControlName="leavingDate">
                </div>
              </div>
              <!--<div class="col-sm-2">-->
                <!--<div class="input-group">-->
                  <!--<div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>-->
                  <!--<input type="text" class="form-control" placeholder="Come back date" ngModel formControlName="comeBackDate">-->
                <!--</div>-->
              <!--</div>-->
              <div class="col-sm-2">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                  <input type="text" class="form-control" placeholder="1 Passenger" ngModel formControlName="passenger">
                </div>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-success btn-search-flight" type="submit" [disabled]="!searchFlightForm.valid">SEARCH</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="advantages container">
  <div class="row">
    <div class="col-sm-4">
      <div class="column icon">
        <div class="icon-wrap"><i class="fa fa-check"></i></div>
      </div>
      <div class="column text">
        <strong>Extended Cancellation Policy</strong>
        <span>Book with confidence
          <i class="fa fa-info-circle" (mousemove)="showTooltip = true" (mouseleave)="showTooltip = false"></i>
          <div class="tooltip-content" id="bpg-tooltip-content" *ngIf="showTooltip">
            <strong>Extended Cancellation Policy - Book with confidence.</strong> <br><br>
            You always have the option to cancel within 24 hours of purchase without EasyFly’s
            standard cancellation fees! Simply opt in to the Extended cancellation policy during checkout,
            for $19.99 per passenger.<br><br>
            To claim a refund for the fare difference or a full refund, email us at <a href="mailto:guarantee@easyfly.com">
            guarantee@easyfly.com</a> or call us toll free at <a href="tel:1-800-717-5015">1-800-717-5015</a>.
            For more details, please check our terms and conditions.
          </div>
        </span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="column icon">
        <div class="icon-wrap"><i class="fa fa-check"></i></div>
      </div>
      <div class="column text">
        <strong>We Know Flights</strong>
        <span>Be served by flight experts</span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="column icon">
        <div class="icon-wrap"><i class="fa fa-check"></i></div>
      </div>
      <div class="column text">
        <strong>Simple &amp; Easy</strong>
        <span>No more waiting to get your e-tickets</span>
      </div>
    </div>
  </div>
</section>
<section class="suggest-flights container">
  <div class="row">
    <div class="col-sm-6">
      <div class="itinerary"
           *ngFor="let featureItinerary of featureItineraries; let i = index"
           [ngStyle]="{'margin-bottom': '20px'}"
           (click)="onSelectItinerary(featureItinerary)">
        <ng-template [ngIf]="i <= 3">
          <img [src]="featureItinerary.image" [alt]="featureItinerary.leavingAirportIata" class="embed-responsive">
          <div class="info">
            <div class="from-to">
              {{featureItinerary.leavingAirportIata}} - {{featureItinerary.goingAirportIata}}
              <span class="price">{{featureItinerary.price | currency:'USD':true:'1.2-2'}}</span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="itinerary"
           *ngFor="let featureItinerary of featureItineraries; let i = index"
           [ngStyle]="{'margin-bottom': i <= 3 ? 0 : '20px'}"
           (click)="onSelectItinerary(featureItinerary)">
        <ng-template [ngIf]="i > 3">
          <img [src]="featureItinerary.image" [alt]="featureItinerary.leavingAirportIata" class="embed-responsive">
          <div class="info">
            <div class="from-to">
              {{featureItinerary.leavingAirportIata}} - {{featureItinerary.goingAirportIata}} <span class="price">{{featureItinerary.price | currency:'USD':true:'1.2-2'}}</span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>


