<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" routerLink="/">
    EasyFly.com
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active">Recent search</a>
      </li>
      <ng-template [ngIf]="!authService.isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin" routerLinkActive="active">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign up</a>
        </li>
      </ng-template>
      <li class="nav-item dropdown" appDropdown *ngIf="authService.isAuthenticated()">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hello {{username | capitalize | limit:'20'}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/user/my-booking">My Booking</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item like-a-link" (click)="onLogout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
