@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/scss/variables";
@import '../node_modules/bootstrap/scss/bootstrap';

.help-block {
  color: red;
}

.like-a-link {
  cursor: pointer;
}

.open>.dropdown-menu {
  display: block;
  right: 0;
  left: auto;
}

button {
  cursor: pointer;
}

nav {
  &.navbar {
    background-color: $main-color;

    .navbar-brand {
      color: #FFFFFF;
    }

    .navbar-nav {
      .nav-link {
        color: #FFFFFF;;
      }
    }

    .dropdown {
      .dropdown-toggle {
        cursor: pointer;
      }

      .dropdown-menu {
        background-color: $main-color;
        color: #FFFFFF;

        .dropdown-item {
          color: #FFFFFF;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

  }
}

.btn-main {
  background-color: $main-color;
  border-color: $main-color;
  color: #FFFFFF;
}

.wrapper {
  margin-top: 80px;

  h1 {
    &.title {
      border-bottom: 1px #cccccc solid;
      padding-bottom: 20px;
      text-align: center;
      margin-bottom: 20px;
      font-size: 32px;
    }
  }
}

.home-page {
  background-image: url('assets/images/homepage-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #fff;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 200px;

  .blur-background {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
  }

  .advertisement {
    h1 {
      font-size: 32px;
      color: #28a745;
    }

    h2 {
      font-size: 24px;
      color: #173e43;
    }
  }

  .flight-search {

    .input-group {
      margin-bottom: 10px;
    }

    ul.flight-options {
      list-style: none;
      overflow: hidden;
      li {
        float: left;
        margin-right: 10px;
        cursor: pointer;

        &.active {
          color: #28a745;
        }
      }
    }

    .airport-list {
      position: absolute;
      border: 1px solid #ccc;
      top: 37px;
      border-top: none;
      background: rgba(255, 255, 255, 0.7);
      width: 150%;
      color: #173e43;
      overflow: scroll;
      max-height: 350px;
      z-index: 9999;
      
      .airport-item {
        border-bottom: 1px dashed #000000;
        padding: 10px 10px 5px;
        cursor: pointer;
      }
    }

    .btn-search-flight {
      cursor: pointer;
    }

    .mat-datepicker-toggle {
      float: left;
      color: #495057;
      text-align: center;
      background-color: #e9ecef;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;

      .mat-icon-button {
        width: 36px;
        height: 36px;
      }
    }

    .leaving-date {
      width: 80%;
    }
  }
}


.itinerary {
  .miscell {
    i {
      color: $main-color;
    }
  }
}

.advantages {
  margin-top: 40px;

  .col-sm-4 {
    margin-bottom: 10px;

    .icon {
      color: green;
      float: left;
      border: 3px solid green;
      border-radius: 50%;
      padding: 5px;
      margin-right: 10px;
      .icon-wrap {
        i {
          font-size: 28px;
        }
      }
    }

    .text {
      &>strong {
        text-transform: uppercase;
        font-size: 16px;
        display: block;
      }

      span {
        position: relative;

        i {
          color: green;
        }

        .tooltip-content {
          position: absolute;
          z-index: 9999;
          background-color: #ffffff;
          left: 0;
          top: 30px;
          width: 200%;
          border: 1px solid #cccccc;
          border-radius: 5px;
          padding: 10px;
          font-size: 12px;
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.4);
        }
      }

    }
  }

}

.suggest-flights {
  margin-top: 40px;

  .itinerary {
    position: relative;
    cursor: pointer;

    img {
      border-radius: 5px;

      &:hover {
        opacity: 0.8;
      }
    }

    .info {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: rgba(255,255,255,0.8);
      padding: 5px 7px;
      border-radius: 3px;

      span {
        color: green;
      }
    }
  }
}
