h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.booking-declaration {
  margin-bottom: 32px;
}

.passenger-declaration {
  color: #455d88;
}

.flight {
  margin-bottom: 32px;
}

.price-summary {
  color: #419900;
}

.help-block.bottom {
  margin-top: -16px;
  margin-bottom: 16px;
}
