<div class="container wrapper">
  <form [formGroup]="bookingForm" (ngSubmit)="confirmBooking()">
    <div class="booking-declaration">
      <h3>ITINERARY</h3>
      <p>
        You got our best price possible! Congratulations!
      </p>
      <div class="card">
        <div class="card-body">
          <div class="row flight" *ngFor="let flight of itinerary.flights">
            <div class="col-3">
              <img class="pull-left" src="{{flight.airlinesLogo}}" alt="{{flight.airlines}}" />
              {{flight.airlines}}<br />
              {{flight.flightCode}}
            </div>
            <div class="col">
              {{flight.startTime}}<br />
              {{flight.endTime}}
            </div>
            <div class="col">
              {{flight.startDate}}<br />
              {{flight.endDate}}
            </div>
            <div class="col-4">
              {{flight.leavingAirport.name}} ({{flight.leavingAirport.iata}})<br />
              {{flight.goingAirport.name}} ({{flight.goingAirport.iata}})
            </div>
            <div class="col-2">
              {{flight.type}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="booking-declaration">
      <h3>TRAVELLER INFORMATION</h3>
      <p class="alert alert-warning" role="alert">
        IMPORTANT: Each passenger's full name must be entered as it appears on their passport or government issued photo ID. Name changes are not permitted after booking.
      </p>
      <h4>PASSENGERS</h4>
      <p *ngIf="passengers.length == 0">
        No passengers have been added. Please add at least one passenger.
      </p>
      <p class="passenger-declaration" *ngFor="let passenger of passengers">
        {{ passenger.gender | nameTitle }}
        {{ passenger.firstName }}
        {{ passenger.lastName }}
      </p>
      <!--<p>
        <button type="button" class="btn btn-success" *ngIf="passenger == null" (click)="addPassenger()">ADD PASSENGER</button>
      </p>-->
      <div><!-- *ngIf="passenger != null"-->
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="passengerGender">Gender*</label>
            <select id="passengerGender" class="form-control" ngModel formControlName="passengerGender">
              <option value="" selected>Select</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
            <span class="help-block" *ngIf="!bookingForm.get('passengerGender').valid && (bookingForm.get('passengerGender').touched || submitted)">
              <span *ngIf="bookingForm.get('passengerGender').errors?.required">Please select gender.</span>
            </span>
          </div>
          <div class="form-group col-md-4">
            <label for="passengerFirstName">First Name*</label>
            <input type="text" class="form-control" id="firstName" ngModel formControlName="passengerFirstName" />
            <span class="help-block" *ngIf="!bookingForm.get('passengerFirstName').valid && (bookingForm.get('passengerFirstName').touched || submitted)">
              <span *ngIf="bookingForm.get('passengerFirstName').errors?.required">Please enter first name.</span>
            </span>
          </div>
          <div class="form-group col-md-2">
            <label for="passengerMiddleName">Middle Name</label>
            <input type="text" class="form-control" id="passengerMiddleName" ngModel formControlName="passengerMiddleName" />
          </div>
          <div class="form-group col-md-4">
            <label for="passengerLastName">Last Name*</label>
            <input type="text" class="form-control" id="passengerLastName" ngModel formControlName="passengerLastName" />
            <span class="help-block" *ngIf="!bookingForm.get('passengerLastName').valid && (bookingForm.get('passengerLastName').touched || submitted)">
              <span *ngIf="bookingForm.get('passengerLastName').errors?.required">Please enter last name.</span>
            </span>
          </div>
        </div>
        <div>
          <label>Date of Birth*</label>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <select id="passengerDobMonth" class="form-control" ngModel formControlName="passengerDobMonth">
              <option value="" selected>Month</option>
              <option *ngFor="let month of months" [value]="month">{{ month }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select id="passengerDobDay" class="form-control" ngModel formControlName="passengerDobDay">
              <option value="" selected>Day</option>
              <option *ngFor="let day of days" [value]="day">{{ day }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select id="passengerDobYear" class="form-control" ngModel formControlName="passengerDobYear">
              <option value="" selected>Year</option>
              <option *ngFor="let year of years" [value]="year">{{ year }}</option>
            </select>
          </div>
        </div>
        <div class="help-block bottom" *ngIf="!validatePassengerDob()">
          Please select a valid date of birth.
        </div>
        <!--<p>
          <button type="button" class="btn btn-danger" (click)="cancelPassenger()">CANCEL</button>
          <button type="button" class="btn btn-success" (click)="savePassenger()">SAVE</button>
        </p>-->
      </div>
    </div>

    <div class="booking-declaration">
      <h3>PRICE SUMMARY</h3>
      <p>Confirm the price details of your round trip itinerary for all passengers.</p>
      <div class="card">
        <div class="card-body">
          <p><strong>{{itinerary.leavingAirportIata}} to {{itinerary.goingAirportIata}}</strong> {{itinerary.leavingDate}}</p>
          <p><strong>Ticket</strong>: Round Trip - Economy - 451232021</p>
          <p>
            <strong>Number of Passengers:</strong>
            <span class="pull-right">{{itinerary.passenger}}</span>
          </p>
          <p class="price-total">
            <strong>Price Total:</strong>
            <strong class="pull-right price-total-amount">{{itinerary.price}}</strong>
          </p>
        </div>
      </div>
    </div>

    <div class="booking-declaration">
      <h3>BILLING INFORMATION</h3>
      <div class="alert alert-success" role="alert">
        <div class="pull-right">
          <img src="assets/images/logos/icon-cc-flag-ax.png" alt="American Express" />
          <img src="assets/images/logos/icon-cc-flag-ca.png" alt="Master Card" />
          <img src="assets/images/logos/icon-cc-flag-vi.png" alt="Visa" />
        </div>
        <strong>SAFE AND SECURE BILLING</strong> <br />
        Your credit card information is protected by a <strong>Secure SSL Encrypted Transaction</strong>
      </div>
      <h4>PAYMENT INFORMATION</h4>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="cardNumber">Card Number*</label>
          <input type="text" class="form-control" id="cardNumber" placeholder="xxxx-xxxx-xxxx-xxxx" ngModel formControlName="cardNumber" />
        </div>
        <div class="form-group col-md-2">
          <label for="cardType">Card Type*</label>
          <select id="cardType" class="form-control" ngModel formControlName="cardType">
            <option value="" selected>Select</option>
            <option value="American Express">American Express</option>
            <option value="Master Card">Master Card</option>
            <option value="Visa">Visa</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="cardExpMonth">Exp. Date*</label>
          <select id="cardExpMonth" class="form-control" ngModel formControlName="cardExpMonth">
            <option selected>Month</option>
            <option *ngFor="let month of months" [value]="month">{{ month }}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="cardExpYear">&nbsp;</label>
          <select id="cardExpYear" class="form-control" ngModel formControlName="cardExpYear">
            <option value="" selected>Year</option>
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="cardCVV">CVV*</label>
          <input type="text" class="form-control" id="cardCVV" ngModel formControlName="cardCVV" />
        </div>
      </div>
      <div class="help-block bottom" *ngIf="!validateCreditCard()">
        Please enter valid card information.
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="cardFirstName">First Name</label>
          <input type="text" class="form-control" id="cardFirstName" ngModel formControlName="cardFirstName" />
          <span class="help-block" *ngIf="!bookingForm.get('cardFirstName').valid && (bookingForm.get('cardFirstName').touched || submitted)">
            <span *ngIf="bookingForm.get('cardFirstName').errors?.required">Please enter first name.</span>
          </span>
        </div>
        <div class="form-group col-md-4">
          <label for="cardLastName">Last Name</label>
          <input type="text" class="form-control" id="cardLastName" ngModel formControlName="cardLastName" />
          <span class="help-block" *ngIf="!bookingForm.get('cardLastName').valid && (bookingForm.get('cardLastName').touched || submitted)">
            <span *ngIf="bookingForm.get('cardLastName').errors?.required">Please enter last name.</span>
          </span>
        </div>
      </div>
      <h4>BILLING INFORMATION</h4>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="billingAddress">Billing Address*</label>
          <input type="text" class="form-control" id="billingAddress" ngModel formControlName="billingAddress" />
          <span class="help-block" *ngIf="!bookingForm.get('billingAddress').valid && (bookingForm.get('billingAddress').touched || submitted)">
            <span *ngIf="bookingForm.get('billingAddress').errors?.required">Please enter a valid billing address.</span>
          </span>
        </div>
        <div class="form-group col-md-3">
          <label for="billingSuite">Apt/Suite #</label>
          <input type="text" class="form-control" id="billingSuite" ngModel formControlName="billingSuite" />
        </div>
        <div class="form-group col-md-3">
          <label for="billingCity">City*</label>
          <input type="text" class="form-control" id="billingCity" ngModel formControlName="billingCity" />
          <span class="help-block" *ngIf="!bookingForm.get('billingCity').valid && (bookingForm.get('billingCity').touched || submitted)">
            <span *ngIf="bookingForm.get('billingCity').errors?.required">Please enter a valid city.</span>
          </span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="billingCountry">Country*</label>
          <select class="form-control" id="billingCountry" ngModel formControlName="billingCountry">
            <option selected>Select</option>
            <option *ngFor="let country of countries" [value]="country.code">
              {{ country.name }}
            </option>
          </select>
          <span class="help-block" *ngIf="!bookingForm.get('billingCountry').valid && (bookingForm.get('billingCountry').touched || submitted)">
            <span *ngIf="bookingForm.get('billingCountry').errors?.required">Please select a country.</span>
          </span>
        </div>
        <div class="form-group col-md-3">
          <label for="billingState">State</label>
          <select class="form-control" id="billingState" ngModel formControlName="billingState">
            <option selected>Select</option>
            <option *ngFor="let state of states" [value]="state.code">
              {{ state.name }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="billingZipCode">Zip Code*</label>
          <input type="text" class="form-control" id="billingZipCode" ngModel formControlName="billingZipCode" />
          <span class="help-block" *ngIf="!bookingForm.get('billingZipCode').valid && (bookingForm.get('billingZipCode').touched || submitted)">
            <span *ngIf="bookingForm.get('billingZipCode').errors?.required">Please enter a valid zip code.</span>
          </span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="billingPhoneCode">Billing Phone Number*</label>
          <select class="form-control" id="billingPhoneCode" ngModel formControlName="billingPhoneCode">
            <option selected>Select</option>
            <option *ngFor="let country of countries" [value]="country.phoneCode">
              {{ country.name }} (+{{ country.phoneCode }})
            </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label>&nbsp;</label>
          <input type="text" class="form-control" id="billingPhoneNumber" ngModel formControlName="billingPhoneNumber" />
        </div>
        <div class="form-group col-md-2">
          <label for="billingPhoneExt">Ext.</label>
          <input type="text" class="form-control" id="billingPhoneExt" ngModel formControlName="billingPhoneExt" />
        </div>
      </div>
      <div class="help-block bottom" *ngIf="!validateBillingPhone()">
        Please enter a valid phone number.
      </div>
    </div>

    <div class="booking-declaration text-center">
      <button type="submit" class="btn btn-success btn-lg">CONFIRM &amp; BOOK</button>
    </div>
  </form>
</div>
